services:
  traefik:
    image: traefik:v2.11
    container_name: traefik
    restart: always
    depends_on:
      - crowdsec
    ports:
      - 443:443
      - 80:80
    networks:
      - traefik-network
    environment:
      TZ: Asia/Tokyo
    labels:
      traefik.enable: true

      # Crowdsec Bouncer middleware (global)
      traefik.http.middlewares.crowdsec.plugin.bouncer.enabled: true
      traefik.http.middlewares.crowdsec.plugin.bouncer.crowdsecLapiKey: ${CROWDSEC_BOUNCER_KEY}
      traefik.http.middlewares.crowdsec.plugin.bouncer.crowdsecLapiHost: crowdsec:8080

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./letsencrypt:/letsencrypt
      - ./traefik.yml:/etc/traefik/traefik.yml:ro
      - ./plugins-local:/plugins-local:ro
      - ./logs:/var/log/traefik

  crowdsec:
    image: crowdsecurity/crowdsec:latest
    container_name: crowdsec
    restart: always
    environment:
      TZ: Asia/Tokyo
      COLLECTIONS: "crowdsecurity/traefik crowdsecurity/http-cve crowdsecurity/base-http-scenarios"
      GID: "1000"
    volumes:
      - ./crowdsec/acquis.yaml:/etc/crowdsec/acquis.yaml:ro
      - ./crowdsec/whitelist.yaml:/etc/crowdsec/parsers/s02-enrich/custom-whitelist.yaml:ro
      - crowdsec-db:/var/lib/crowdsec/data/
      - crowdsec-config:/etc/crowdsec/
      - ./logs:/var/log/traefik:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - traefik-network

networks:
  traefik-network:
    external: true

volumes:
  crowdsec-db:
  crowdsec-config:
